// general //

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

html {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-dark;
}


.logo {
  width: 135px;
  height: 24px;
}

[type="checkbox"] {
  display: none;
}

// form general settings ////
input,
select {
  height: 4rem;
  border-radius: 10px;
  border: 1px solid $gray-light;
  padding: 0 1rem;
  width: 100%;
  margin-top: .8rem;

  &:focus {
    outline: 1px solid $gray-medium;
  }
}

[type="radio"] {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 ;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;

  &:checked {
    box-shadow: inset 0 0 0 6px $gray-dark;
  }

  &:focus {
    border: 1px solid $gray-dark;
  }
}

input::placeholder {
  color: $gray-light;
}


select {
  appearance: none;
  cursor: pointer;
  background-color: transparent;

  &:invalid {
    color: $gray-light;
  }

  option:not(:first-of-type) {
    color: $gray-dark;
  }
}

button {
  height: 4.6rem;
  border: none;
  border-radius: 5px;
  padding: .5rem 1rem;
  cursor: pointer;
}

.form__title {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  margin-bottom: .8rem;
}

.form-group {
  padding-top: 1rem;
}

label {
  font-size: 1.2rem;
  color: $gray-medium;
}

//////
