// variables
$bg-primary: #595cff;
$bg-gray: #f0f0f5;

$gray-dark: #2a2a2a;
$gray-medium: #808080;
$gray-light: #afb1bd;
$white: #ffffff;

$border-color: #e5e5e5;

$col-gap: calc(30 / 1110 * 100%);

//

@mixin showNav() {
  transform: scale(1, 1);
  a {
    color: rgba($gray-dark, 1);
  }
}

@mixin showFeatures() {
  transform: scale(1, 1);
  opacity: 1;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dropdownIcon(){
  position: relative;
  z-index: 0;
  &::after {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $gray-dark transparent transparent transparent;
    right: 1rem;
    top: 50%;
    z-index: -1;
  }
}

//// RWD ////
$bp-first: 375px;
$bp-second: 850px;

@mixin respond($breakpoint) {
  @media screen and (min-width:$breakpoint) {
    @content
  }
};
////

// help class //

.form-row-spacebetween {
  display: flex;
  justify-content: space-between;
}